body {
	direction: __MSG_@@bidi_dir__;
}

page {
	/*border: 1px solid black;*/
	text-align: justify;
}

aya {
	display: inline;
	font-family: "Amiri Quran", "Amiri", serif;
	font-size: 17px;
}

sura {

}

sura > name {
	display: block;
	text-align: center;
	border: 1px solid black;
	line-height: 2.5;
}