@font-face {
    font-family: "Amiri Quran";
    src: url("../resources/amiri/amiri-quran.ttf");
}

@font-face {
    font-family: "Amiri Quran Letters";
    src: url("../resources/amiri/amiri-quran-letters.ttf");
}

@font-face {
    font-family: "Amiri Quran Diacritics";
    src: url("../resources/amiri/amiri-quran-diacritics.ttf");
}

@font-face {
    font-family: "Amiri Quran Quanic Signs";
    src: url("../resources/amiri/amiri-quran-quranic-signs.ttf");
}