.highlighted {
    background-color: yellow;
}

[class^='match']:nth-child(2n+1) {
    background-color: yellow;
}

[class^='match']:nth-child(2n+2) {
    background-color: lightblue;
}

[class^='match']:nth-child(2n+3) {
    background-color: lightcoral;
}

[class^='match']:nth-child(2n+4) {
    background-color: lightgreen;
}