$aya-font-family: "Amiri Quran", "Amiri", serif;
$aya-font-size: 170%;
$aya-line-height: 47.6px;

$aya-number-font-family: "Amiri Quran";
$aya-number-font-size: $aya-font-size;
$aya-number-color: gray;

$sura-name-font-family: "Amiri", "Amiri Quran", serif;
$sura-name-font-size: $aya-font-size * 1.1;
$sura-name-line-height: $aya-line-height;

$explanation-font-family: inherit;
// $explanation-font-size: $aya-font-size * 0.9;
$explanation-font-size: 110%;
// $explanation-line-height: $aya-line-height * 0.9;
$explanation-line-height: inherit;

$diacritic-color: green;
$annotation-sings-color: purple;