@import "variables", "mixins";

@import "fonts",
        "quran",
        "reader",
        "search";

@import "flag-icon-css/css/flag-icon.css";

.bar-header .button {
    // border: 0;
}

.icon.icon-large {
    font-size: 250%;
}

em {
    font-weight: bold;
    font-style: italic;
}