@import "variables";
@import (reference) "mixins";
@import "flag-icon-css/less/flag-icon";

@font-face {
    font-family: "Amiri Quran Letters";
    src: url("../resources/amiri/amiri-quran-letters.ttf");
}

@font-face {
    font-family: "Amiri Quran Diacritics";
    src: url("../resources/amiri/amiri-quran-diacritics.ttf");
}

@font-face {
    font-family: "Amiri Quran Quanic Signs";
    src: url("../resources/amiri/amiri-quran-quranic-signs.ttf");
}

.icon.icon-large {
    font-size: 250%;
}
.sura-name {
    direction: rtl;
    &:not(.search) {
        font-family: @sura-name-font-family;
        font-size: @sura-name-font-size;
        text-align: center;
        font-weight: bold;
    }
    .search {

    }
}
.sura-body {
    direction: rtl;
    text-align: justify;
    text-align-last: justify;
    text-justify: auto;
    text-overflow: initial !important;
    &:not(.search) {
        line-height: @aya-line-height;
        font-size: @aya-font-size;
    }
    &.single-aya {
        font-size: @aya-font-size * 1.2;
    }
    &.search {
        line-height: @aya-line-height * .8;
        font-size: @aya-font-size * .8;
    }
}
.aya-text {
    // color: black;
    font-family: @aya-font-family;
    // pointer-events: none;
    // &.playing {
    //     color: red;
    // }
}
.aya-number {
    line-height: @aya-line-height;
    font-family: @aya-number-font-family;
    // font-size: @aya-font-size;
    // "\06DD"
    color: @aya-number-color;
    // font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
    &::before {
        content: '\06DD';
    }
}
.translation {
    font-family: @translation-font-family;
}

.highlighted {
    background-color: yellow;
}

[class^='match']:nth-child(2n+1) {
    background-color: yellow;
}

[class^='match']:nth-child(2n+2) {
    background-color: lightblue;
}

[class^='match']:nth-child(2n+3) {
    background-color: lightcoral;
}

[class^='match']:nth-child(2n+4) {
    background-color: lightgreen;
}

.layers {
    display: inline-block;
    position: relative;
    text-overflow: initial !important;
    .original {
        color: transparent;
        display: inline;
    }
    .letters, .diacritics, .quranic-signs, .overlay {
        position: absolute;
        top: 0;
        right: 0;
    }
    .diacritics {
        font-family: "Amiri Quran Diacritics";
        color: @diacritic-color;
        opacity: 0.8
    }
    .quranic-signs {
        font-family: "Amiri Quran Quanic Signs";
        color: @annotation-sings-color;
        opacity: 0.8
    }
    .letters {
        font-family: "Amiri Quran Letters";
        // color: initial;
    }
}
em {
    font-weight: bold;
    font-style: italic;
}