@import "variables";
@import (reference) "mixins";

.icon.icon-large {
    font-size: 250%;
}
.sura-name {
    direction: rtl;
    &:not(.search) {
        font-family: @sura-name-font-family;
        font-size: @sura-name-font-size;
        text-align: center;
        font-weight: bold;
    }
    .search {

    }
}
.sura-body {
    direction: rtl;
    text-align: justify;
    text-align-last: justify;
    text-justify: auto;
    text-overflow: initial !important;
    &:not(.search) {
        line-height: @aya-line-height;
        font-size: @aya-font-size;
    }
    &.single-aya {
        font-size: @aya-font-size * 1.2;
    }
    &.search {
        line-height: @aya-line-height * .8;
        font-size: @aya-font-size * .8;
    }
}
.aya-text {
    font-family: @aya-font-family;
    pointer-events: none;
    // &.playing {
    //     color: red;
    // }
}
.aya-number {
    line-height: @aya-line-height;
    // font-family: @aya-font-family;
    // font-size: @aya-font-size;
    // "\06DD"
    margin-right: 5px;
    margin-left: 5px;
    &::before {
        content: '('
    }
    &::after {
        content: ')'
    }
}
.translation {
    font-family: @translation-font-family;
}
.highlighted, .match {
    background-color: yellow;
}
.layers {
    display: inline-block;
    position: relative;
    text-overflow: initial !important;
    .original {
        color: transparent;
        display: inline;
    }
    .letters, .diacritics, .quranic-signs, .overlay {
        position: absolute;
        top: 0;
        right: 0;
    }
    .diacritics {
        color: @diacritic-color;
        opacity: 0.9
    }
    .quranic-signs {
        color: @annotation-sings-color;
        opacity: 0.9
    }
    .letters {
        color: inherit;
    }
}
em {
    font-weight: bold;
    font-style: italic;
}