@sura-name-font-family: "Amiri", "Amiri Quran", serif;
@sura-name-font-size: @aya-font-size * 1.2;
@sura-name-line-height: @aya-line-height;

@aya-font-family: "Amiri Quran", "Amiri", serif;
@aya-font-size: 25px;
@aya-line-height: 2.2;

@aya-number-font-family: "Amiri Quran";
@aya-number-color: gray;

@translation-font-family: inherit;

@diacritic-color: green;
@annotation-sings-color: purple;