@content-border: 1px solid black;

@sura-name-border: 2px solid black;
@sura-name-font-family: @aya-font-family;
@sura-name-font-size: @aya-font-size * 1.8;
@sura-name-line-height: @aya-line-height;

@aya-font-family: serif;
@aya-font-size: 17px;
@aya-line-height: 2.5;