@sura-name-font-family: @aya-font-family;
@sura-name-font-size: @aya-font-size * 1.2;
@sura-name-line-height: @aya-line-height;

@aya-font-family: "Nabi", "Droid Naskh Arabic", "Traditional Naskh", serif;
@aya-font-size: 1.2em;
@aya-line-height: 2.2;

@translation-font-family: inherit;

@diacritic-color: green;
@annotation-sings-color: purple;