.list(ng-controller='NavigationController')
    .item.item-input.item-select
        label.input-label Navigate by:
        select(ng-model='view', ng-options='view.display for view in views')

    label.item.item-input(auto-direction='{{ search.title }}')
        i.icon.placeholder-icon.ion-ios7-search-strong
        input(type='search', placeholder='Filter', ng-model='search.title')

    a.item(
        ng-repeat='item in items | filter:search',
        nav-clear,
        ui-sref='reader({ current: "{{ item.page_id }}", scrollTo: "{{ item.gid }}" })'
        )
            .sura-name(auto-direction='{{ item.title }}') {{ item.title }}
            .aya.aya-nav: small.aya-text(colorize='{{ options.reader.colorized }}', colorize-text='{{ item.uthmani }}') {{ item.uthmani }}