ion-view(title='About aQuran')
    ion-content(has-header='true', overflow-scroll='true', has-footer='false')
    	h1 aQuran
    	p A simple and easy-to-use Quran app with multiple translations and recitations
    	h2 Components
    	ul This app uses components from the following projects:
    		li Al-Fanous SQL database for standard texts and metadata
    			small Note: The database was modified with uthmanic script provided by Khaled Hosney
    		li Khaled Hosney's Uthamnic script
    		li Recitations by the EveryAyah project
    		li Translations and explanations by the Zekr project
    	
