ion-view(title='{{ title }}', right-buttons='rightButtons')
    ion-content(has-header='true')
        //- ion-slide-box ion-slide
        .list
            label.item.item-input
                span.input-label Page
                input(type='number', placeholder='Page number')