ion-view(title='Preferences')
    ion-content(has-header='true', overflow-scroll='true', has-footer='true')
        list.list
            .item.item-divider.item-text-wrap Appearance
            .item.item-toggle.item-text-wrap Theme:
                .list
                    label.item.item-radio(ng-repeat='theme in themes')
                        input(type='radio', name='themes', ng-model='options.theme', ng-value='theme.id')
                        .item-content {{ theme.name }}
                        i.radio-icon.ion-checkmark
            .item.item-toggle.item-text-wrap Show Arabic text
                label.toggle
                    input(type='checkbox', ng-model='options.reader.arabic_text')
                    .track: .handle
            .item.item-toggle.item-text-wrap Display sura name in:
                //- div: small {{ sura_names[options.reader.sura_name].name }}, e.g. {{ sura_names[options.reader.sura_name].example }}
                .list
                    label.item.item-radio(ng-repeat='sura_name in sura_names')
                        input(type='radio', name='sura_names', ng-model='options.reader.sura_name', ng-value='sura_name.value')
                        .item-content {{ sura_name.name }}, e.g. {{ sura_name.example }}
                        i.radio-icon.ion-checkmark
            div(ng-show='options.reader.arabic_text')
                .item.item-toggle.item-text-wrap Standard text
                    label.toggle
                        input(type='checkbox', ng-model='options.reader.standard_text')
                        .track: .handle
                .item.item-toggle.item-text-wrap Show diacritics
                    label.toggle
                        input(type='checkbox', ng-model='options.reader.diacritics')
                        .track: .handle
                .item.item-toggle.item-text-wrap Use different colors for diacritics and Quranic annotation signs
                    label.toggle
                        input(type='checkbox', ng-model='options.reader.colorized')
                        .track: .handle
            
            .item.item-divider.item-text-wrap Translations
            .item.item-toggle.item-text-wrap Enable translations
                label.toggle
                    input(type='checkbox', ng-model='options.explanations.enabled')
                    .track: .handle
            a.item.item-text-wrap(ui-sref='explanations', ng-if='options.explanations.enabled') Manage translations

            .item.item-divider.item-text-wrap Recitation
            .item.item-toggle.item-text-wrap Enable recitation
                label.toggle
                    input(type='checkbox', ng-model='options.audio.enabled')
                    .track: .handle
            .item.item-toggle.item-text-wrap(ng-if='options.audio.enabled')
                | Adapt streaming quality to network conditions
                div: small Depending on the quality of your Internet connection, the quality of audio may change during playback
                label.toggle
                    input(type='checkbox', ng-model='options.audio.auto_quality')
                    .track: .handle
            a.item.item-text-wrap(ui-sref='recitations', ng-if='options.audio.enabled')
                | Choose recitation
            
            .item.item-divider Search
            .item.item-toggle.item-text-wrap Use online search for better results
                div: small When online, aQuran will connect to Al-Fanous web service to provide better search results.
                label.toggle
                    input(type='checkbox', ng-model='options.search.online.enabled')
                    .track: .handle