ion-view(title='"Home"', right-buttons='rightButtons')
    ion-content(has-header='true', overflow-scroll='true', has-footer='true')
        .sura.list(ng-repeat='sura in data.view')
            h2.sura-name.item.item-devider(ng-if='sura.ayas[0].aya_id == 1') {{ sura[options.sura_name] }}
            .sura-body.item.item-text-wrap
                span(ng-repeat='aya in sura.ayas')
                    span.aya-text(colorize='{{ aya.uthmani }}') {{ aya[options.aya_mode] }}
                    i.aya-number {{ aya.aya_id }}