ion-view(title='{{ title }}')
    ion-side-menus
        ion-side-menu(side='left')
            ion-content(has-header='true')
                include includes/sidemenu
        
        ion-side-menu-content
            ion-content(has-header='true')
                include includes/content

                ion-nav-buttons(side='left')
                    a.button(menu-toggle='left')
                        .icon.ion-navicon

                ion-nav-buttons(side='right')
                    a.button(ui-sref='search')
                        .icon.ion-ios7-search-strong
                    a.button(ui-sref='preferences')
                        .icon.ion-gear-a