doctype html
html(ng-app='quran', ng-csp, lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        title {{ title }}
        for style in styles
            link(rel='stylesheet', href=style)
    body
        //- h1 {{ The Holy Quran }}
        main(ng-controller='ContentController')
            form.form(ng-submit='search.execute()')
                .input-group
                    input.form-control(type='search', ng-model='search.text', required, placeholder='Search the Quran')
                    .input-group-btn
                        input.btn.btn-default(type='submit', value='Search',  ng-disabled='progress.status == "searching"')
                        i.icon-search
            article.content(ng-switch='progress.status')
                div(ng-switch-when='ready')
                    div(ng-switch='content.type')
                        div(ng-switch-default)
                            header
                                | Juz: {{ content.view[0].ayas[0].juz_gid }}
                                | Sura: {{ content.view[0].ayas[0].sura_name }}
                            sura(ng-repeat='sura in content.view')
                                h2.sura-name(ng-hide='sura.ayas[0]["aya_id"] > 1') {{ sura.sura_name }}
                                aya.aya(ng-repeat='aya in sura.ayas')
                                    span.aya-text {{ aya[content.options.mode] }}
                                    span.aya-number {{ aya.aya_id }}
                        div.search(ng-switch-when='search')
                            h2 Searh Results
                                sura(ng-repeat='sura in content.view')
                                    h3(ng-show='sura.ayas[0].aya_id == 1') In Sura {{ sura.sura_name }}
                                    aya(ng-repeat='aya in sura.ayas')
                                        span.aya-number {{ aya.aya_id }}
                                        span.aya-text {{ aya[content.options.mode] }}
                                        
                div(ng-switch-when='searching') Searching...
                div(ng-switch-default) Loading...
            nav.nav
                input(type='number', ng-model='content.current')
                select(ng-model='content.options.mode', ng-options='mode.id as mode.name for mode in static.modes')
        for script in scripts
            script(src=script)