@require 'input_areas.css'
@require 'lists.css'
@require 'headers.css'

body
    direction rtl

// .amiri
    // font-family Amiri

// .text-large
//     font-size 150%

.aya-number::before
    content '\06DD'