nav.navbar.navbar-default
    ol.nav.navbar-nav
        li: a(href='#') Juz {{ content.view[0].ayas[0].juz_gid }}
        li: a(href='#') {{ content.view[0].ayas[0][content.options.sura_name] }}
    form.navbar-form.navbar-right(ng-submit='search.execute()')
        .form-group
            input.form-control(type='search', ng-model='search.text', required, placeholder='Search the Quran')
        button.btn.btn-default(type='submit', value='Search', ng-disabled='progress.status == "searching"')
            i.icon-search
            label.sr-only Search